:root{
    --primary-color:#cbb26b;
    --secondary-color:#521247;
    --dark-color:#292929;
    --white-color:#dff3e4;}
    body{
        color: #854a7b;
        background-color: #EAEAEA;
    }

    nav{
        background-color:var(--secondary-color);
        font-family: 'Spectral SC', serif;
    }

    footer{background-color:var(--primary-color);
    }

    h1,h2,h3,h4,h5,h6{
        color:var(--primary-color);
    }

    a.btn:hover{
        background: var(--secondary-color);
    }
    



main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
    font-family: 'Spectral SC', serif;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    font-family: 'Spectral SC', serif;
}

footer .social>a {
    color:var(--white-color);
    opacity: 0.75;
}
footer .social>a:hover{
    opacity: 0.90;
    color:var(--secondary-color)
}

.bsicon{
    color:purple;
}

.jsicon{
    color:rgb(207, 220, 14);
}
.html5{
    color:orangered;
}
.cssicon{
    color:rgb(14, 83, 210)
}

.checklist >li i{
    color:var(--secondary-color)
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}